body
{
  font-family: 'Lato', sans-serif;
  
}
:root
{
  --primary: #64c29e;
  --heading: #353738;
  --text: #848789;
  --bg-light: #f7f7f7;
  --bg-white :#ffffff;
  --bg-dark: #282f35;
  --input-border : #d3d7d9;
  --input-text:#c8c8c8;

}
/* css dùng chung */
button,input,textarea
{
  font-family: 'Lato', sans-serif;
}
img
{
  display: block;
  /* max-width: 100%; */
}
.wrapper
{
  max-width: 160rem;
  margin: 0 auto;
}
.header
{
  min-height: 80rem;
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
.nav
{
  margin-top: 3.5rem;
}
.nav__list
{
  display: flex;
  align-items: center;
}
.nav__item
{
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}
.nav__item:first-child::after,.nav__item:nth-child(4)::after
{
  content: '.';
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
}
.nav__link
{
  display: block;
  position: relative;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--heading);
}
/* end css heading */
.feature__header
{
padding: 11.8rem 1.5rem 14.5rem;
background-color:  var(--bg-light);
}
.feature__img-top
{
  margin: 0 auto 3.5rem;
}
.feature__heading
{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: var(--heading);
  letter-spacing: 0.5rem;
  text-align: center;
  margin-bottom: 3.5rem;
}
.feature__header-desc
{
  max-width: 105rem;
  margin: 0 auto;
  font-size: 1.8rem;
  color: var(--text);
  line-height: 1.6;
  text-align: center;
}
.feature__item
{
  display: flex;
  flex-flow: row wrap;
  height: 60rem;
  overflow: hidden;
}
.feature__item-img
{
  width: 67%;
  position: relative;
}
.feature__item-content
{
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feature__item-img .img__bg
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature__item-img .img__brand
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.feature__item-content-top
{
  padding: 0 7rem;
  position: relative;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 67%;
}
.feature__item-text
{
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: justify;
  color: var(--text);
  padding-bottom: 3.9rem;
  position: relative;
}
.feature__item-content-bottom
{
  height: 33%;
}
/* Đổi vị trí li thứ 2 */
.feature__item:nth-child(2) .feature__item-img
{
  order: 2;
}
/* làm việc với li 3 */
.feature__item:last-child > .feature__item-img
{
  width: 33%;
}
.feature__item:last-child > .feature__item-content
{
  width: 34%;
}
/* tạo mũi tên */
.feature__item-content-top::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50% ) rotate(45deg);
  width: 2rem;
  height: 2rem;
  background-color: var(--bg-white);
  z-index: 100;
}
.feature__item-text::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 5rem;
  height: 1px;
  background-color: var(--input-text);
}
/* twwet */
.twwet__header
{
padding: 11.8rem 1.5rem 6.8rem;
background-color:  var(--bg-light);
text-align: center;
}
.twwet__logo
{
  font-size: 3.5rem;
  color: #56c7ee;
  margin: 0 auto 3.7rem;
}
.tweet__heading
{
  margin: 0 auto 2.6rem;
}
.tweet__local,.twwet__author
{
  font-size: 1.8rem;
  margin: 0 auto;
  margin-right: 1.2rem;
}
.twwet__time
{
  font-size: 1.8rem;
  color:var(--text);
}
.twwet__time::before
{
  content: "/";
  margin-right: 1.2rem;
}

.twwet__content
{
  margin: 0 auto;
  max-width: 105rem;
  font-size: 2.2rem;
  color: var(--text);
  padding-bottom: 10rem;
}
.twwet__list
{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10rem; */
}
.twwet__item
{
  height: 1.2rem;
  width: 1.2rem;
  border-radius: .8rem;
  border: 1px solid var(--text);
  margin-left: .5rem;
  margin-right: .5rem;
}
.is-active
{
  background-color: var(--text);
}
.images
{
/* height: 53.5rem; */
overflow: hidden;
display: flex;
justify-content: space-between;
}
.images__block-item
{
  display: flex;
  flex-direction: row;

}
.images__block
{
  width: 33.333%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.images__item
{
  position: relative;
}
.images__item-brand
{
  display:none;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 20;
}

.images__item-brand > img
{
  margin: 0 auto;
}
.images__item-text
{
  padding-top:1.5rem ;
  color: var(--bg-white);
  line-height: 1.8;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: justify;
  font-weight: bold;
}
.images__block:last-child > .images__block-item:first-child
{
  order: 2;
}
.images__item-bg
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images__item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background-color: rgba(100, 194, 158, 0.8);
	z-index: 10;
  display: none;
}
.images__item:hover:before,
.images__item:hover .images__item-brand {
  display: block;
}
/* ./twwet */
/* discover */
.discover
{
  height: 20rem;
  background-color: var(--bg-dark);
  position: relative;
}
.discover__button
{
  
  padding: 2rem 5.7rem;
  background: none;
  border: 1px solid var(--input-border);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffffff;
  transition: all .2s linear;
}

.discover__button:hover
{
  background-color: var(--primary);
}
/* ./discover */
/* mailing */
.mailing
{
  height: 47rem;
  position: relative;
  padding: 11rem 1.5rem;
	background-color: white;
	text-align: center;
}
.mailing_logo
{
  margin: 0 auto 3.5rem ;
}
.mailing__input-text
{
  width: 40rem;
  height: 7rem;
  border: 1px solid var(--input-border);
  color: var(--input-text);
  padding-left: 2.5rem;
  font-size: 1.8rem;
}
.mailing__input-button
{
  width: 12.6rem;
  height: 7rem;
  font-size: 2.4rem;
  background-color: var(--primary);
  color: #ffffff;
}
.mailing__title
{
  margin:3.8rem auto;
  font-size: 2rem;
  color: var(--text);
  font-style: italic;
}
.mailing__input
{
  display: flex;
	justify-content: space-between;
	max-width: 54rem;
	margin: 0 auto;
}

/* ./mailing */
.footer
{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.footer__content
{
  width: 33.333%;
  height: 25rem;
  background-color: var(--bg-light);
  text-align: justify;
  position: relative;
  line-height: 1.2;
}
.footer__content-title
{
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--text);
}
.footer__content-desc
{
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--text);
}
.content
{
position: absolute;
top: 50%;
left: 40%;
}
.footer__content-mid
{
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
}
.fab
{
  margin-right: 1rem;
}
.fa-twitter
{
  color: #ffffff;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 3rem;
  background-color: #78cdf0;
}
.fa-facebook-f
{
  color: #ffffff;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  background-color: #537bbd;
}
.fa-google-plus-g
{
  color: #ffffff;
  font-size: 2.5rem;
  padding: 1rem 0.8rem;
  border-radius: 3rem;
  background-color: #eb5755;
}
.content-left
{
position: absolute;
top: 50%;
left: 25%;
display: flex;
}
.content-left > img
{
  padding-left: .5rem;
}